use flake

alias deploy="docker image pull ghcr.io/soriphoono/wwb-backend:latest && docker image pull ghcr.io/soriphoono/wwb-frontend:latest && docker stack rm testing wwb && sops -d -i docker/clusters/testing/secrets/keys.txt && sleep 20 && docker stack deploy -c docker/clusters/testing/docker-compose.yml testing && sops -e -i docker/clusters/testing/secrets/keys.txt"
